// sangjian custom styls.
.site-author-image {
  border: none;
  border-radius: 100%;
}
.posts-expand .post-body img {
  border: none;
}
figure {
  border-radius: 5px;
}

.posts-expand .post-body ul li {
  list-style-type: disc;
}

@media (max-width: 767px) {
  .post-letters-count { display: none;}
}
